<div class="card card-accent-primary">
    <div style="text-align: center;" class="card-body">
        <h2>Dashboard d'agent ressource humaine</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-info">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-docs"></i>
            </div>
            <div class="h4 mb-0">{{documentRendu}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Document Rendu</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-ban"></i>
            </div>
            <div class="h4 mb-0">{{documentNonRendu}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Document Non Rendu</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-danger">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-people"></i>
            </div>
            <div class="h4 mb-0">{{employes}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total Employé</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-success">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-street-view"></i>
            </div>
            <div class="h4 mb-0">{{managers}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total Manager</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-pin"></i>
            </div>
            <div class="h4 mb-0">{{equipes}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total Service</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-suitcase"></i>
            </div>
            <div class="h4 mb-0">{{postes}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total Poste</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
</div>