<div class="card card-accent-primary">
    <div style="text-align: center;" class="card-body">
        <h2>Dashboard de manager</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-info">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-tag"></i>
            </div>
            <div class="h4 mb-0">{{moyens}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total moyen</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-pin"></i>
            </div>
            <div class="h4 mb-0">{{evenements}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total évènement</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="card text-white bg-danger">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-people"></i>
            </div>
            <div class="h4 mb-0">{{employes}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total Employé</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="card text-white bg-success">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-list"></i>
            </div>
            <div class="h4 mb-0">{{participations}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total Participation</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="card text-white bg-dark">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="icon-bag"></i>
            </div>
            <div class="h4 mb-0">{{demandeMoyens}}</div>
            <small class="text-muted text-uppercase font-weight-bold">Total Demande de moyen</small>
            <div class="progress progress-white progress-xs mt-3">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
</div>