<div class="card card-accent-primary">
    <div style="text-align: center;" class="card-body">
        <h2>Informations Personnelles</h2>
    </div>
</div>
<div class="card card-accent-primary">
    <!-- <div class="card-header">
      Information personnelles
    </div> -->
    <div class="card-body">
        <div class="row">
            <div style="text-align: center;margin-left: -120px;" class="col-sm-7 col-md-7 myTitle">
                <div><img style="width: 100px;margin-bottom: 5px;" src="assets/img/avatars/employeLogo.png" alt="logo"> </div>
                <div>{{rh.prenom}} {{rh.nom}} </div>
            </div>
            <div style="margin-top: 40px;" class="col-sm-5 col-md-5 myInfo">
                <div class="text-muted mr-3">
                    <div><i style="margin-right: 5px;" class="fa fa-suitcase"></i>  Agent Ressource Humaine</div>
                    <div><i style="margin-right: 5px;" class="fa fa-envelope"></i>  {{rh.email}}</div>
                </div>
            </div>
         </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card card-accent-primary">
        <div class="card-body">
         <div class="row">
            <div class="col-sm-4 col-md-4 myTitle">
                <div>Nom </div>
                <div>Prenom </div>
                <div>Role </div>
                <div>Email</div>
                <div>Mot de passe </div>
            </div>
            <div class="col-sm-7 col-md-7 myInfo">
                <div>{{rh.nom}}</div>
                <div>{{rh.prenom}}</div>
                <div>Agent Ressource Humaine</div>
                <div>{{rh.email}}</div>
                <div>{{rh.motPasse}}</div>
            </div>
         </div>
        </div>
      </div>
    </div><!--/.col-->
</div>
