<div style="text-align: center;margin-top: -20px;">
    <img style="width: 60px;" src="assets/img/avatars/checkMark1.png" alt=""> 
</div>    
<div style="margin:0 100px 10px 100px;" class="card card-accent-primary">
    <div style="font-size:x-large;font-weight: bold;padding: 20px;">Check-list : Demande des moyens pour un employé</div>
    <label style="margin-left: 20px;" class="col-md-4 col-form-label" for="text-input">Nom de l'employé</label>
    <form [formGroup]="formAdd" (ngSubmit)="createForm()" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="col-md-6">
        <select style="margin-left: 20px;" formControlName="employe" name="employe" class="form-control">
            <option *ngFor="let employe of employes" [ngValue]="employe" >{{employe?.nom}} {{employe?.prenom}}</option>
        </select>
        <span *ngIf="submitted && form.employe.errors?.required" class="help-block">Veuillez choisir l'employé</span>
        </div>
        <div style="margin-left: 20px;margin-bottom: 25px;" class="card-body">
            <div *ngFor="let moyen of moyens" class="form-check">
                <input class="form-check-input" type="checkbox" value="{{moyen}}" id="checkbox1" (change)="onChange(moyen, $event.target.checked)">
                <label style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="form-check-label" for="checkbox1">
                {{ moyen.label}}
                </label>
            </div>
        </div>
    
        <div style="text-align: right;">
            <img style="width: 240px;margin-top: -140px;" src="assets/img/avatars/checkpic2.jpg" alt=""> 
        </div> 
        <div style="text-align: left;" class="modal-footer">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>

