<h3>Gestion des moyens</h3>
<alert *ngIf="delete" type="success" dismissOnTimeout="5000" [dismissible]="dismissible">
  <strong>Succès!</strong> L'enregistrement est bien supprimé.
</alert>
<alert *ngIf="created" type="success" dismissOnTimeout="5000" [dismissible]="dismissible">
  <strong>Succès!</strong> L'enregistrement est bien créé.
</alert>
<alert *ngIf="updated" type="success" dismissOnTimeout="5000" [dismissible]="dismissible">
  <strong>Succès!</strong> L'enregistrement est bien modifié.
</alert>
<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Table des moyens
  </div>
  <div class="card-body">
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom de moyen</th>
          <th>Quantité</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moyen of moyens">
            <td>{{moyen.label}}</td>
            <td>{{moyen.quantite}}</td>
            <td><button class="btn btn-danger" data-toggle="modal" (click)="smallModal.show()">Supprimer</button>
              <button class="btn btn-primary" (click)="onUpdate(moyen)">Modifier</button></td>
              <div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Suppression</h4>
                      <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Voulez-vous vraiment supprimer cet enregistrement ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">Fermer</button>
                      <button type="button" class="btn btn-primary" (click)="deleteMoyen(moyen)">Supprimer</button>
                    </div>
                  </div>
                </div>
              </div>

              <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <!-- Update Form  -->
                    <form [formGroup]="formUpdate" (ngSubmit)="updateForm()" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="modal-header">
                      <h4 class="modal-title">Modifier un moyen</h4>
                      <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <div class="card">
                        <div class="card-header">
                          <strong>Informations</strong> 
                        </div>

                        <div class="card-body">

                            <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="text-input">Nom de moyen</label>
                              <div class="col-md-9">
                                <input type="text" formControlName="label" name="label" class="form-control">
                                <span *ngIf="submitUpdate && formUp.label.errors?.required" class="help-block">Veuillez saisir le nom de moyen</span>
                              </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="quantite">Type</label>
                                <div class="col-md-9">
                                  <input type="number" min="0" formControlName="quantite" name="type" class="form-control">
                                  <span *ngIf="submitUpdate && formUp.quantite.errors?.required" class="help-block">Veuillez saisir la quantité</span>
                                </div>
                            </div>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Fermer</button>
                      <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
        </tr>
      </tbody>
    </table>
    <!-- Modal d'ajout -->
    <button class="btn btn-primary" (click)="onAdd()">Ajouter</button>
            
    <div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <!-- Add Form  -->
          <form [formGroup]="formAdd" (ngSubmit)="createForm()" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="modal-header">
            <h4 class="modal-title">Ajouter un nouveau moyen</h4>
            <button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-header">
                <strong>Informations</strong> 
              </div>
              <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Nom de moyen</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="label" name="label" class="form-control">
                      <span *ngIf="submitted && form.label.errors?.required" class="help-block">Veuillez saisir le nom de moyen</span>
                    </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="quantite">Type</label>
                      <div class="col-md-9">
                        <input type="number" min="0" formControlName="quantite" name="type" class="form-control">
                        <span *ngIf="submitted && form.quantite.errors?.required" class="help-block">Veuillez saisir la quantité</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="addModal.hide()">Fermer</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
